<html>
    <body>
        <h1>
            Alexander Benton Parris
        </h1>
        <form action="{{url_for('blogform')}}" method="POST" enctype="multipart/form-data">
            {{form.csrf_token}}

            <div>
               {{form.blogType(class="form_piece", placeholder="Blog Type")}} 
            </div>
            <div>
                {{form.title(placeholder="Title")}} 
             </div>
             <div>
                {{form.description(placeholder="Description")}} 
             </div>
             <div>
                 <p>art or research</p>
                {{form.user(placeholder="Username")}} 
             </div>
             <div>
                {{form.image}} 
             </div>
            <div>
                <button type="submit">Post</button>
            </div>
        </form>
    </body>
</html>

<style>
    .form_piece{
        background-color: blanchedalmond;
    }
</style>