<html>
    
    <body>
        <h1>
            Alexander Benton Parris
        </h1>
        <form action="{{url_for('blogform')}}" method="POST">
            {{form.csrf_token}}

            <div>
               {{form.blogType(class="form_piece", placeholder="Blogtype?")}} 
            </div>
            <div>
                {{form.title}} 
             </div>
             <div>
                {{form.description}} 
             </div>
             <div>
                {{form.user}} 
             </div>
             <div>
                {{form.image}} 
             </div>

        </form>
    </body>
</html>

<style>
    .form_piece{
        background-color: blanchedalmond;
    }
</style>