<html>
    <body>
        <h1>
            Alexander Benton Parris
        </h1>
        <ul>
            <li>
                Resume
            </li>
            <li>
                <a href="http://127.0.0.1:8080/blog/research">Research</a>
            </li>
            <li>
                <a href="http://127.0.0.1:8080/blog/artgallery">Art Gallery</a>
            </li>
            <li>
                <a href="http://127.0.0.1:8080/blogform">New Blog entry</a>
            </li>
        </ul>
    </body>
</html>